.about-page-container {
  padding: 30px;
}

.about-page-logo {
  max-width: 100%;
}

.features-list {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

.hasadna-logo-img {
  margin-left: 5px;
  height: 20px;
}